// Horizontal width space
.is-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// Vertical width space
.is-vertical {
  display: flex;
  flex-direction: column;
}

// Auto width space
.d-auto {
  flex-basis: auto;
}

.d-full {
  width: 100%;
}

// Generate space spans width classes
.generate_divisions(@n, @i: 1) when (@i =< @n) {
  .d-@{i} {
    width: (@i * 100% / @n);
  }
  .generate_divisions(@n, (@i + 1));
}
.generate_divisions(12);


// Hide space or span
.is-hidden {
  display: none;
}

@media all and (max-width: 768px) {

  // Full width space span
  .is-mobile {
    flex: 0 1 100%;
  }

  // Hide on mobile
  .is-hidden--mobile {
    display: none;
  }
}
