@import "./palette.less";
@import "./fonts.less";
@import "./sizes.less";


* {
    box-sizing: border-box;
    font-family: "Exo2";
    padding: 0;
    margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Exo2";
    color: @dark;
}

body {
    -ms-overflow-style: none;  // IE 10+
    overflow: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}
