@black: #000000;
@dark-dark: #222222;
@dark: #333333;
@dark-light: #444444;
@light-dark: #bbbbbb;
@light: #cccccc;
@light-light: #dddddd;
@white: #ffffff;

// app color scheme
@primary: #0088ee;
@secondary: #ffaa55;

// informative colors
@ok: #00ee88;
@ok-light: lighten(@ok, 33%);
@ok-dark: darken(@ok, 33%);

@info: #0088ee;
@info-light: lighten(@info, 33%);
@info-dark: darken(@info, 33%);

@warning: #ee8800;
@warning-light: lighten(@warning, 33%);
@warning-dark: darken(@warning, 33%);

@error: #ff2200;
@error-light: lighten(@error, 33%);
@error-dark: darken(@error, 33%);
