@golden-ratio: 1.618;

@nm: 1rem;

@lg: @nm * @golden-ratio;
@xlg: @lg * @golden-ratio;
@xxlg: @xlg * @golden-ratio;
@xxxlg: @xxlg * @golden-ratio;

@sm: @nm / @golden-ratio;
@xsm: @sm / @golden-ratio;
@xxsm: @xsm / @golden-ratio;
@xxxsm: @xxsm / @golden-ratio;

@mobile-breakpoint: 768px;