<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: "App",
  components: {
  },
  created() {
  }
}
</script>


<style lang="less">
@import "./styles/palette.less";
@import "./styles/main.less";
@import "./styles/fgrid.less";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @dark;
  height: 100%;
}
</style>
